body{
    background-color: aquamarine;
    text-align:center;
}
label{
    margin-top:1rem;
    margin-bottom:1rem;
    display:block
}
input{
    height: 2vh;
    text-align: center;
}
button{
    color: orangered;
    background-color: white;
}
button:hover{
    background-color: black;
    transition: .1s;
}
div{
    margin-top: 1rem;
}
