body{
    display: block;
    text-align: center;
    background-color: aquamarine;
}

label{
    display: block;
   padding: 1rem;
   
}
input{
    height: 3vh;
    text-align: center;
}
button{
    color: orangered;
    background-color: white;
}
button:hover{
    background-color: black;
    transition: .1s;
}
div{
    margin-top: 1rem;
}
